{% extends "layout.html" %} <!-- goes to the layout, similar to a jump -->
{% block content %}
  <h1>About:</h1>
  <p>   Hi, my name is Pedro (yes I´m portuguese) and this is my app to track your gym progress.</p>
  <p>   I go to the gym for almost 3 years and I usually track the exercise volume and my weight in a note based application, so I thought why not develop a application that could easily track my progress and weight.</p>
  <p>   Of course this is a amateur project but I think it could help others like me that take their workouts serious.</p>
  <p>   If you have an idea that can be incorporated into this project or you want to leave any feedback please send an email to pmpereira98@gmail.com.</p>
  <p>   Thank you for using the app, good training :).</p>
{% endblock content %}
